@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

* {
    box-sizing: border-box;
}

html, body {
    /* Sets default font-size to 16px, ensuring 1em = 16px; */
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/* ----------- Layout Section for all Sizes (in process) -----------  */
h1, h2, h4 {
    margin-top: 10%;
    margin-left: 10%;
    line-height: 1em;
}

.filter {
    text-align: left;
    width: 40%;
    display: block;
    height: 30px;
    background-color: #bdceda;
    border: 0;
    font-size: .75em;
    font: white;
    float: right;
    padding-left: 5px
}

.hashtags {
    text-align: left;
    width: 40%;
    display: block;
    height: 30px;
    background-color: #bdceda;
    border: 0;
    font-size: .75em;
    font: white;
    float: right;
    padding-left: 5px
}

.frame {
    border-top: 1px dotted #bdceda;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.numero {
    width: 80%;
    display: inline;
    vertical-align: middle;
    height: 45px;
    font-size: .75em;
}

strong {
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background: #bdceda;
    font-family: Verdana;
    font-weight: bold;
    color: white;
    font-size: 1.75em;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.slidecontainer {
    display: inline;
    height: 40px;
    float: right;
    width: 60%;
}

.text {
    height: 100%;
    font-size: .8em;
    display: block;
    line-height: 1.5;
    padding-bottom: 10px;
    height: 100%;
    padding-top: 0px;
    margin-right: 10px;
    padding-right: 10px;
}

/*------Webpage layout for Mobile Small Screens-----*/
@media screen and (min-device-width: 320px) and (max-device-width: 649px) {
    .container {
        width: 85%;
        margin: 0 auto;
        padding: 1em;
        height: auto;
    }

    .container img {
        display: none;
        width: 100%;
        border: 5px dotted #bdceda;
        border-radius: 20px;
        \\*display: block;
        padding-top: 60px;
    }

    h1 {
        text-align: left;
    }
}

.text {
    width: 100%;
}

.frame {
    width: 85%;
}

/*------Webpage layout for Medium Size-----*/
@media screen and (min-device-width: 650px) and (max-device-width: 1000px) {
    h1, h2, h4 {
        text-align: left;
        line-height: 1em;
        margin-right: 10%;
    .numero {
        width: 80%;
        display: inline;
        vertical-align: middle;
        height: 45px;
        padding: 30px;
    }

    .container {
        width: 85%;
        margin: 0 auto;
        padding: 1em;
        height: auto;
    }

    .container img {
        width: 100%;
    }

    //* Forms section   *//
    .frame {
        width: 85%;
        margin-left: 19%
    }

    .text {
        width: 85%;
        font-size: .75em;
        margin: 0 auto;
        display: block;
        line-height: 1.5;
        padding-bottom: 10px;
    }

    /* these 2 could be deleted soon
    .twcontainer {
        border-top: 1px solid #bdceda;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    #tweets {
        flex-basis: 1%;
        padding: 5px;

        */
}

/*------ Webpage Layout ------Big Screens*/
@media only screen and (min-device-width: 1001px) {
    h1 {
        text-align: left;
        line-height: 1em;
        font-size: 4em;
        margin-left: 2%;
        margin-bottom: 1%;
        margin-top: 2%
    }

    h2 {
        display: block;
        border-top: 1px dotted #bdceda;
        width: 100%;
        padding-top: 10px;
    }

    h4 {
        text-align: left;
        margin-left: 3%;
        margin-top: 1%
    }

    .container {
        max-width: 95%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .container img {
        width: 65%;
        border-radius: 0px;
        float: right;
        padding-left: 10px;
        border-left: 1px solid #bdceda;
        margin-bottom: 40px;
    }

    /* .legend {
        width: 220px;
        height: 90px;
        background-color: #bdceda;
        position: relative;
        top: 300px;
        left: 700px;
    }
*/
    /* -----------Forms section -----------  */
    .filter {
        text-align: left;
        width: 40%;
        display: block;
        height: 30px;
        background-color: #bdceda;
        border: 0;
        font-size: .75em;
        font: white;
        float: right;
        padding-left: 5px
    }

    .hashtags {
        text-align: left;
        width: 40%;
        display: block;
        height: 30px;
        background-color: #bdceda;
        border: 0;
        font-size: .75em;
        font: white;
        float: right;
        padding-left: 5px
    }

    .frame {
        border-top: 1px dotted #bdceda;
        width: 30%;
        display: inline-block;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .numero {
        width: 80%;
        display: inline;
        vertical-align: middle;
        height: 45px;
        font-size: .8vw;
    }

    strong {
        border-radius: 20px;
        width: 25px;
        height: 25px;
        background: #bdceda;
        font-family: Verdana;
        font-weight: bold;
        color: white;
        font-size: 1.75em;
        vertical-align: middle;
        float: left;
        margin-right: 10px;
    }

    .slidecontainer {
        display: inline;
        height: 40px;
        float: right;
        width: 60%;
    }

    .text {
        height: 100%;
        width: 33%;
        font-size: .8em;
        display: block;
        line-height: 1.5;
        padding-bottom: 10px;
        height: 100%;
        padding-top: 0px;
        margin-right: 10px;
        padding-right: 10px;
    }

    /*------------- Tweets section -----------  */
    .twcontainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0px;
        border-top: 1px dotted #bdceda;
        width: 100%;
        padding-top: 10px;
    }

    #tweets {
        flex-basis: 0;
        padding: 5px;
        margin: 0 auto;
        border: 0;
        display: block;
        border-radius: 20px;
        width: 20%;
        height: auto;
    }

    .containertweets {
        width: 280px;
        height: 150px;
        background-color: #f8f7f7;
    }
}

/* ------- Luca Code ------*/
.calendar {
    margin-top: 0px;
    width: 70%;
    float: right;
}

li {
    display: inline;
    line-height: 2em;
    padding: 10px;
    border-style: inset;
}

.datebutton {
    background-color: #bdceda;
    border: none;
    font-size: .75em;
    width: 20px;
    padding: 4px;
}

.output {
    text-align: left;
    font-size: .75em;
    text-transform: uppercase;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.output p {
    display: inline;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}

.inactive {
    opacity: 0;
}